<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>

<p><%= _ "An Unexpected Error Occured" %>.</p>

<p>
  <a href="<%= @path_prefix %>"><%= _ "Return to rideboard" %></a>.
</p>
		  
<img src="/images/thinrule.gif" width="100%" height="7" alt="thinrule"/>
